// Social Likes by Artem Sapegin. http://sapegin.github.io/social-likes/
// Flat skin
// Design: Genn Osipenko, http://genn.org/

@import './include/base'

text_color = #fff;
margin = .45em;

.social-likes {
	min-height:36px;
	margin:(-(margin));
	line-height:1.45;
	
	&__widget {
		tweak-inverted-text();
		margin:margin;
		line-height:inherit;
		border:0;
		text-align:left;
		color:text_color;
	}

	&__button {
		padding:.16em .7em .2em 1.8em;
		vertical-align:middle;
		font-size:.95em;
	}

	&__icon {
		top:.3em;
		left:.4em;
	}

	// Vertical mode
	&_vertical &__widget {
		min-width:13em;
	}
	
	// Facebook
	&__widget_facebook {
		background:#3d5b95;
	}

	// Twitter
	&__widget_twitter {
		background:#24aadd;
	}

	// Google+
	&__widget_plusone {
		background:#d23e30;
	}

	// Vkontakte
	&__widget_vkontakte {
		background:#587e9f;
	}

	// Odnoklassniki
	&__widget_odnoklassniki {
		background:#f59310;
	}

	// Pinterest
	&__widget_pinterest {
		background:#cb132d;
	}
}
