// Social Likes by Artem Sapegin. http://sapegin.github.io/social-likes/
// Light skin
// Design: Genn Osipenko, http://genn.org/

@import './include/base'

text_color = #fff;

.social-likes {
	min-height:36px;
	margin:-.4em -.6em;
	line-height:1.45;
	
	&__widget {
		min-width:0;
		margin:.45em;
		line-height:inherit;
		border:0;
		text-align:left;
	}

	&__button {
		min-width:0;
		padding-left:1.4em;
		vertical-align:middle;
		font-size:.95em;
		font-weight:normal;
		text-decoration:underline;
	}

	&__icon {
		top:.2em;
		left:.15em;
	}

	// Vertical mode
	&_vertical {
		.social-likes__widget {
			min-width:13em;
		}
	}
}

// Facebook
.social-likes__widget_facebook {
	color:#3d5b95;
}
.social-likes__icon_facebook {
	.social-likes_notext & {
		margin-left:.15em;
	}
}

// Twitter
.social-likes__widget_twitter {
	color:#24aadd;
}

// Google+
.social-likes__widget_plusone {
	color:#d23e30;
}
.social-likes__icon_plusone {
	.social-likes_notext & {
		margin-left:0;
	}
}

// Vkontakte
.social-likes__widget_vkontakte {
	color:#587e9f;
}

// Odnoklassniki
.social-likes__widget_odnoklassniki {
	color:#f59310;
}

// Pinterest
.social-likes__widget_pinterest {
	color:#cb132d;
}

