// Social Likes by Artem Sapegin. http://sapegin.github.io/social-likes/
// Light skin
// Design: Genn Osipenko, http://genn.org/

@import './include/base'

.social-likes {
	min-height:36px;
	margin:-.4em -.6em;
	line-height:1.45;
	
	&__widget {
		min-width:0;
		margin:.45em;
		line-height:inherit;
		border:0;
		text-align:left;
	}

	&__button {
		min-width:0;
		padding-left:1.4em;
		vertical-align:middle;
		font-size:.95em;
		font-weight:normal;
		text-decoration:underline;
	}

	&__icon {
		top:.2em;
		left:.15em;
	}

	// Vertical mode
	&_vertical &__widget {
		min-width:13em;
	}

	// No text mode
	&__widget_notext {
		margin: 0.45em 0.30em;
	}

	// Facebook
	&__widget_facebook {
		color:#3d5b95;
	}

	// Twitter
	&__widget_twitter {
		color:#24aadd;
	}

	// Google+
	&__widget_plusone {
		color:#d23e30;
	}

	// Vkontakte
	&__widget_vkontakte {
		color:#587e9f;
	}

	// Odnoklassniki
	&__widget_odnoklassniki {
		color:#f59310;
	}

	// Pinterest
	&__widget_pinterest {
		color:#cb132d;
	}
}
